﻿@model EmployeesDeskBook.Models.Default.EmployeeViewModel

@{
    ViewBag.Title = "CreateEmployee";
}

<h2>CreateEmployee</h2>

@using (Html.BeginForm("CreateEmployee", "DeskBook", FormMethod.Post, new { @class = "form", id = "employeeForm", name = "employeeData" }))
{
    <table>
        <tr>
            <th>Name</th>
            <th>Sername</th>
            <th>Departament</th>
            <th>Age</th>
            <th>BirthDate</th>
        </tr>
        <tr>
            <td>
                <div>
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name)
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </td>
            <td>
                <div>
                    @Html.LabelFor(x => x.Sername)
                    @Html.TextBoxFor(x => x.Sername)
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.BirthDate)
                </div>
            </td>
            <td>
                <div>
                    @Html.LabelFor(x => x.Departament)
                    @Html.TextBoxFor(x => x.Departament)
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.Departament)
                </div>
            </td>
            <td>
                <div>
                    @Html.LabelFor(x => x.Age)
                    @Html.TextBoxFor(x => x.Age)
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.Age)
                </div>
            </td>
            <td>
                <div>
                    @Html.LabelFor(x => x.BirthDate)
                    @Html.TextBoxFor(x => x.BirthDate)
                </div>
                <div>
                    @Html.ValidationMessageFor(x => x.BirthDate)
                </div>
            </td>
        <tr>
            <td>
                <input type="submit" value="Создать пользователя" />
            </td>
        </tr>

    </table>
}

