﻿@model EmployeesDeskBook.Models.Default.EmployeeViewModel

@{
    ViewBag.Title = "Employee";
}


@if (Model == null)
{
    <p>Сотрудник не наден</p>
}
else
{
    <table>
        <tr>
            <th>Name</th>
            <th>Sername</th>
            <th>Departament</th>
            <th>Age</th>
            <th>BirthDate</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(x => x.Name)</td>
            <td>@Html.DisplayFor(x => x.Sername)</td>
            <td>@Html.DisplayFor(x => x.Departament)</td>
            <td>@Html.DisplayFor(x => x.Age)</td>
            <td>@Html.DisplayFor(x => x.BirthDate)</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Вернуться назад", "Employees")</td>
        </tr>
    </table>
}