﻿@model List<EmployeesDeskBook.Models.Default.EmployeeViewModel>
@{
    ViewBag.Title = "Employees";
}

@if(!Model.Any())
{ 
    <div>
        Нет сотрудников
    </div>
}
else
{
   <div>
       <table>
           <tr>
               <th>Name</th>
               <th>Sername</th>
               <th>Departamnet</th>
               <th>Age</th>
           </tr>
           @foreach(var employee in Model)
           {
               <tr>
                   <td>@employee.Name</td>
                   <td>@employee.Sername</td>
                   <td>@employee.Departament</td>
                   <td>@employee.Age</td>
                   <td>@Html.ActionLink("Подробнее", "Employees", new { Id = employee.Id})</td>
                   <td>@Html.ActionLink("Редактировать", "EditEmployee", new { Id = employee.Id })</td>
               </tr>
      
           }
           <tr>
               <td>@Html.ActionLink("Создать нового пользователя", "CreateEmployee")</td>
           </tr>
       </table>
   </div>
}
