﻿@model EmployeesDeskBook.Models.Default.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @if(Model.Id.HasValue)
    {
        <span>@Model.Id</span>
    }
    else
    {
        <span>Параметер Id не задан  </span>
    }
</div>